/*=======================MAGASIN=======================*/

.acdc_magasin{
  font-family: Catamaran, arial;
  color: #3c3c3c;
  font-size: 1.1em;
  box-shadow: 0px 0px 2px $color-gris, 0px 2px 4px $color-gris;
  padding: 20px 0;
  h3 { font-family: Capture, arial; font-size: 1.8em; text-transform: uppercase;}
}




/*=======================MAGASIN END=======================*/